<section class="aboutcontainer">
    <h1 class="text-center mb-2">About</h1>

<p>Here's what GTA V looks like in real life. Grand Theft Auto is set in the fictional city of Los Santos, which is based on Los Angeles. L.A.-based GTA fan Dave Michalczul of GTAist spent a few days around his city comparing real life Los Angeles locations with those featured in GTA V.

</p>
<p>The plot refers to the storylines of Grand Theft Auto games. ... Each game has a main storyline, which is usually the protagonist rising through criminal life in a city, working his way to the top, but the reason behind this varies from game to game.

</p>
<p>GTA 5 has a long story mode of around 50 hours just for the main storyline. The extras take the game to over 130 hours

</p>
<p>Image result for gta 5 about story
    Grand Theft Auto V has three dramatically different endings, "Kill Trevor", "Kill Michael" and "Deathwish". ... Alternatively, Franklin can ignore both Steve and Devin, and team up with Trevor and Michael to eliminate all their enemies.</p>
</section>

<div class ="follow">
    <a href="#">Facebook</a>
    <a href="#">Youtube</a>
    <a href="#">Instagram</a>
    <a href="#">Twitter</a>
</div>